<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adrantiev1.chatter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rip_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_rip_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatterSendActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatterReciveActivity" />
        <activity android:name=".ChatterSimpleListActivity" />
        <activity android:name=".CustomListActivity" />
        <activity android:name=".PrefsActivity" />
        <activity android:name=".ColorSpinnerActivity"></activity>
    </application>

</manifest>